html, body {
	height: 100%; /*get rid of the white space at the bottom*/
	background-color: #fff;
}

/*Use these fonts for all text*/
* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

/*logo image for the top left of the web page*/
.logo {
	margin: 0;
	width: 100%;
	float: left;
}

/*size of logo*/
#img_logo {
	height: 5em;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*base look for the navigation menu*/

.menu {
	float: left;  /*to maintain the menu position*/
	width: 100%;   /*cover the whole width for the menu*/
}

ul {
	list-style-type: none;  /*to get rid if the list style*/
	margin: 0;   /*get rid of the margin so the elements below and above are closer to the menu*/
	padding: 0;   /*get rid of the extra space from the left side of the menu*/
	overflow: hidden;
	background-color: #46301e;
}

/*keep the menu items to the left so they are in the same line*/
li {
	float: left;
}

li a {
	display: block; 
	color: white;
	text-align: center;  /*align the text for each list elements*/
	padding: 20px 30px;  /*padding for the text inside the list elements*/
	text-decoration: none; /*get rid of the underline*/
	font-size: 20px;
}


/*change color when mouse hover to the corresponding menu item*/
li a:hover {
	background-color: #111;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*the structure of the search part similar to the index.html*/
.results-container {
	height: 90%;
	width: 100%;
	overflow: auto;
	background-image: url(object_background.jpg);
	background-position: center center;
	background-size: cover;
	padding-bottom: 0;
}

/*wrap around map and the table results*/
.results-container {
	height: 100%;
	text-align: center;
}

/*wrap the border of the map and title and the map*/
.map-container {
	background-color: lightgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*add shadow for the map*/
	margin-top: 25px;
	margin-bottom: 25px;  /*add space between map and the table*/
	margin-left: auto;   /*center the map with the fixed width*/
	margin-right: auto;
	width: 320px;
}

.map-border {
	text-align: center;
	padding: 5px 5px;
}

/*set the size of the map*/
#map {
	width: 100%;
}

/*wrap around the table to be styled easier*/
.results-content {
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	float: left;
}

/*set result table size*/
table {
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
}

/*set the border style for the table*/
th, td {
	border: solid 1px lightgray;
}

th.table-row.contact, th.table-row.ratings {
	width: 20%;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

/*set color the first row of the table*/
tr.table-row {
	background-color: #46301e;
	color: white;
}

/*set the elements in the first column style*/
.user-container {
	text-align: left;
	width: 100%;
	vertical-align: middle;
}

/*the container for the image to wrap around the user image*/
.user-image {
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	margin:3%;
}

/*set the size of the user image*/
.user-image img {
	width: 100%;
}

/*set the store name for the column*/
.user-comments {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	padding-right: 2%;
}

h1 {
	margin: 0;
	padding: 3px;
	border: solid 1px black;
}

/*set style for the user name header*/
h2 {
	margin: 2% 0 2% 0;
	font-size: 25px;
}

/*user description*/
p {
	padding-top: 3px;
	margin: 0;
}

/*paging style*/
p.page {
	background-color: lightgray;
	display: block;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	padding-top: 20px;
	bottom: 0;
	width: 100%;
	background-color: #46301E;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*change some style when showing in a smaller screen size*/
@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		width: 100%;
		text-align: center;
	}

	li a {
		padding: 20px 10px;
	}

	/*set the size of the store name*/
	h1, h2 {
		font-size: 100%;
	}

	/*make the font smaller*/
	p {
		font-size: 70%;
	}

	/*reduce size of the store image*/
	div.user-image {
		width: 30%;
	}
}