html, body {
	height: auto;
	background-color: #fff;
}

* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

.logo {
	margin: 0;
	width: 100%;
	background-color: #fff; 
	float: left;
}

img {
	height: 5em;
}

.menu {
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #46301E;
 }
  
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 20px;
}

li a:hover {
	background-color: #111;
}

.search-section {
	height: auto;
	width: 100%;
	background-position: center center;
	background-size: cover;
}

.form-content {
	text-align: center;
	overflow: hidden;
	display: block;
}

.title {
	text-align: center;
	padding-top: 10px;
}
.search-container {
	margin: auto;
	text-align: center;
	display: block;
}

.footer {
	padding-top: 20px;
	bottom: 0;
	width: 100%;
	background-color: #46301E;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}
 
@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	li a {
		padding: 20px 10px;
	}

	h1 {
		font-size: 100%;
	}

	p {
		font-size: 70%;
	}

	div.container-box {
		width: 90%;
	}
}