html, body {
	background-color: #e6e6e6;
	margin: 0;
}

.body-content {
	background-image: url(registration_background.png);
	background-repeat: repeat-x;
	background-size: inherit;
	width: 100%;
	height: 100%;
	background-color: #e6e6e6; 
	display: inline-block;
}

.container-box {
	font-family: Georgia,Times,times,serif;
	color: #595959;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 60px;
	margin-bottom: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	box-sizing: border-box;
}

.auth-form {
	padding: 40px;
}

.title-form {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
	display: block;
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 1.6em;
	font-style: bold;
	color: black;
}

.input-wrap {
	margin-bottom:0.5em;
}

.rf-input {
	box-sizing: border-box;
	font-family: Georgia,Times,times,serif;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	vertical-align: middle;
	min-height: 40px;
	font-size: 0.9em;
	width: 100%;
}

.rf-label {
	display: inline-block;
	opacity: 0;
}

.rf-input:hover~.rf-label {
	font-size: 0.8em;
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
	vertical-align: top;
	text-align: center;
	color: #595959;
	transition: top .7s ease,opacity .7s ease;
	opacity:1;
}

.register-legal {
	text-align: justify;
	font-size: 0.8em;
}

input {
	border: 1px solid lightgray;
}

input:focus {
	background-color: #e8f0fe;
	outline-color: black;
	outline-radius: 5px;
}

input[type="submit"] {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	width: 100%;
	height: 35px;
	background-color: #BF0000;
	color: white;
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
	border-radius: 5px;
}

input[type="submit"]:hover {
	background: #7a003c;
}

.container-footer {
	text-align: center;
	vertical-align: bottom;
}