html, body {
	height: 100%;
}

* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

.logo {
	margin: 0;
	width: 100%;
	background-color: #fff; '
	float: left;
}

#img_logo {
	height: 5em;
}

.menu {
	display: inline-block;
	float: left;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #46301E;
 }
  
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 10px;
	text-decoration: none;
	font-size: 20px;
	width: 110px;
}

li a:hover {
	background-color: #111;
}

.search-section {
	height: 90%;
	width: 100%;
	overflow: auto;
	background-image: url(search_background.jpg);
	background-position: center center;
	background-size: cover;
	padding-bottom: auto;
}

.form-content {
	text-align: center;
	overflow: hidden;
	display: block;
}

.title {
	text-align: center;
	padding-top: 10px;
}
.search-container {
	margin: auto;
	text-align: center;
	display: block;
	padding-bottom: 15px;
	padding-top: 10px;
	position: sticky;
	top: 10px;
}

.searchbar {
	text-align: right;
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 70%;
}

.ratings-container {
	display: inline-block;
	transition: all 200ms ease-out;
	text-align: center;
	margin-top: 10px;
}

#ratings {
	border-radius: 5px;
	font-size: 15px;
	height: 48px;
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	border-color: #F8DCBD;
	transition: all 200ms ease-out;
	background-color: white;
}

.submit-button {
	margin: auto;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}


input[type="search"] {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	font-size: 0.9em;
	width: 100%;
	outline: none;
	border-style: solid;
	border-color: #F8DCBD;
}

#ratings:hover, input[type="search"]:hover {
	box-shadow: 2px 2px 2px 2px rgba(0.5, 0.5, 0, 0.5), 0 6px 10px 0 rgba(0, 0.5, 0.5, 0.5);
}

input[type="submit"] {
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	height: 48px;
	width: 100px;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

.form-content {
	text-align: center;
}

.results-container {
	height: 100%;
	text-align: center;
}


.map-container {
	background-color: lightgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	position: relative;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}

.map-border {
	text-align: center;
	padding: 5px 5px;
}

#map_title {
	margin: 0;
}

#map {
	width: 100%;
}

.results-content {
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	float: left;
}

table {
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
}

th, td {
	border: solid 1px lightgray;
}

.store-container {
	display: inline-block;
	text-align: left;
	width: 100%;
	vertical-align: middle;
}

.store-image {
	display: inline-block;
	float: left;
	width: 20%;
}

.store-name {
	text-align: left;
	vertical-align: middle;
	height: 100%;
	box-sizing: border-box;
	display: table-cell;
}

#store_image{
	width: 100%;
}

#more {
	display: none;
}

h1 {
	margin: 0;
	font-size: 25px;
}


p {
	margin: auto;
}

tr.table-row {
	background-color: #46301E;
	color: white;
}

tr:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.page {
	background-color: lightgray;
	display: block;
}

.footer {
	padding-top: 20px;
	bottom: 0;
	width: 100%;
	background-color: #46301E;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}
 
@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	h1 {
		font-size: 100%;
	}

	p {
		font-size: 70%;
	}

	div.map-container {
		width: 80%;
	}

	div.store-image {
		width: 30%;
	}

	input {
		height: 10%;
	}

	div.searchbar {
		width: 95%;
	}
 }