html, body {
	height: 100%;
}

* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

.logo {
	margin: 0;
	width: 100%;
	background-color: #fff;
	float: left;
}

img {
	height: 5em;
}

.menu {
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #46301E;
 }
  
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 20px;
}

li a:hover {
	background-color: #111;
}

.search-section {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-image: url(search_background.jpg);
	background-position: center center;
	background-size: cover;
}

.form-content {
	text-align: center;
	overflow: hidden;
	display: block;
}

.title {
	text-align: center;
	padding-top: 10px;
}
.search-container {
	margin: auto;
	text-align: center;
	display: block;
}

.searchbar {
	text-align: right;
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 70%;
}

.ratings-container {
	display: inline-block;
	transition: all 200ms ease-out;
	text-align: left;
	margin-top: 10px;
}

#ratings {
	border-radius: 5px;
	font-size: 15px;
	height: 48px;
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	border-color: #F8DCBD;
	background-color: white;
}

.submit-button {
	margin: auto;
	padding-top: 10px;
	display: block;
}

input[type="search"] {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	min-height: 40px;
	font-size: 0.9em;
	width: 100%;
	outline: none;
	border-style: solid;
	border-color: #F8DCBD;
	transition: all 300ms ease-out;
}

#ratings:hover, input[type="search"]:hover {
	box-shadow: 2px 2px 2px 2px rgba(0.5, 0.5, 0, 0.5), 0 6px 20px 0 rgba(0, 0.5, 0.5, 0.5);
}

input[type="submit"] {
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	height: 50px;
	width: 100px;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
  
.form-content {
	text-align: center;
}

.footer {
	padding-top: 20px;
	bottom: 0;
	width: 100%;
	background-color: #46301E;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}

@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	li a {
		padding: 20px 10px;
	}

	p {
		font-size: 70%;
	}

	input {
		 height: 10%;
	}

	div.searchbar {
		width: 95%;
	}
}