html, body {
	height: 100%;
	background-color: #fff;
}

* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

.logo {
	margin: 0;
	width: 100%;
	background-color: #fff; 
	float: left;
}

img {
	height: 5em;
}

.menu {
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #46301E;
 }
  
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 20px;
}

li a:hover {
	background-color: #111;
}

.body-content {
	background-image: url(registration_background.png);
	background-repeat: repeat-x;
	background-size: inherit;
	width: 100%;
	height: auto;
	background-color: #e6e6e6; 
	display: inline-block;
}

.container-box {
	color: #595959;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 60px;
	margin-bottom: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	box-sizing: border-box;
	transition: all 300ms ease-out;
}

.auth-form {
	padding: 40px;
}

.title-form {
	display: block;
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 1.6em;
	color: black;
	text-align: center;
}

.input-wrap {
	margin-bottom:1em;
}

.rf-input {
	box-sizing: border-box;
	font-family: Georgia,Times,times,serif;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	vertical-align: middle;
	min-height: 40px;
	font-size: 0.9em;
	width: 100%;
}

.rf-label {
	display: inline-block;
	opacity: 1;
	width: 100%;
	margin-bottom: 0.3em;
}

.rf-input:hover~.rf-label {
	font-size: 0.8em;
	vertical-align: top;
	text-align: center;
	color: #595959;
	transition: top .7s ease,opacity .7s ease;
	opacity:1;
}

.rf-input.description {
	height: 170px;
}

textarea {
	padding-top: 15px;
	padding-bottom: 15px;
}

.coordinates-container {
	text-align: justify;
}

.rf-input.longitude, .rf-input.latitude {
	width: 48%;
}

.rf-input.longitude {
	margin-right: 4px;
}

.register-legal {
	text-align: justify;
	font-size: 0.8em;
}

.rf-input.image {
	text-align: center;
}

input {
	border: 1px solid lightgray;
}

input:focus {
	background-color: #e8f0fe;
	outline-color: black;
}

input[type="submit"] {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	width: 100%;
	height: 35px;
	background-color: #BF0000;
	color: white;
	border-radius: 5px;
}

input[type="submit"]:hover {
	background: #7a003c;
}

.footer {
	padding-top: 20px;
	bottom: 0;
	width: 100%;
	background-color: #46301E;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}

@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	li a {
		padding: 20px 10px;
	}

	h1 {
		font-size: 100%;
	}

	p {
		font-size: 70%;
	}

	div.container-box {
		width: 90%;
	}
 }