html, body {
	height: 100%; /*get rid of the white space at the bottom*/
	background-color: #fff;
}

/*Use these fonts for all text*/
* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}


/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*the structure of the search part similar to the index.html*/
.results-container {
	height: 90%;
	width: 100%;
	overflow: auto;
	background-image: url(../additional_files/object_background.jpg);
	background-position: center center;
	background-size: cover;
	padding-bottom: 0;
}

/*wrap around map and the table results*/
.results-container {
	height: 100%;
	text-align: center;
}

.top-container {
	margin-top: 25px;
	margin-bottom: 25px;  /*add space between map and the table*/
	text-align: center;
}

/*wrap the border of the map and title and the map*/
.map-container {
	background-color: lightgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*add shadow for the map*/
	margin-top: 25px;
	margin-bottom: 25px;  /*add space between map and the table*/
    margin-left: auto;   /*center the map with the fixed width*/
	margin-right: auto;
	width: 40%;
}

.details-container {
	width: 90%;
	margin-left: auto;   /*center the content*/
	margin-right: auto;
	margin-bottom: 25px;
	background-color: rgba(225, 225, 225, 0.7);
	position: relative;
	
}

.container-border {
	text-align: center;
	padding: 5px 5px;
}

/*set the size of the map*/
#map {
	height: 350px;
	width: 100%;
}

.details-table {
	width: 100%;
}

/*get rid of the table border */
.details-container table, .details-container td {
	background-color: transparent;
	border: none;
	border-collapse: collapse;
	padding: 2px;
}

/*first column alignment to right for the detail table*/
.details-container td.subject {
	text-align: right;
}

td.subject {
	width: 30%;
}

/*wrap around the table to be styled easier*/
.results-content {
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	float: left;
}

/*set result table size*/
.results-content table {
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
}

.results-content td {
	width: 80%;
}

/*set the border style for the table*/
.results-content th, td {
	border: solid 1px lightgray;
}

.results-content th.table-row.contact, th.table-row.ratings {
	width: 20%;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

/*set color the first row of the table*/
tr.table-row {
	background-color: #46301e;
	color: white;
}

/*set the elements in the first column style*/
.user-container {
	text-align: left;
	width: 100%;
	vertical-align: middle;
}

/*the container for the image to wrap around the user image*/
.user-image {
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	margin:3%;
}

/*set the size of the user image*/
.user-image img {
	width: 100%;
}

/*set the store name for the column*/
.user-comments {
	text-align: left;
	display: table-cell;
	padding-right: 2%;
	margin-bottom: 2%;
}

h1 {
	margin: 0;
	padding: 3px;
	border: solid 1px black;
}

/*set style for the user name header*/
h2 {
	margin: 2% 0 2% 0;
	font-size: 25px;
}

h3 {
	margin: 2% 0 2% 0;
	font-size: 15px;
}
/*user description*/
p {
	padding-top: 3px;
	margin: 0;
}

/*paging style*/
p.page {
	background-color: lightgray;
	display: block;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*change some style when showing in a smaller screen size*/
@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		width: 100%;
		text-align: center;
	}

	li a {
		padding: 20px 10px;
	}
	
	/*set the size of the titles*/
	h1, h2 {
		font-size: 100%;
	}

	h3 {
		font-size: 80%;
	}
	
	/*make the font smaller*/
	p {
		font-size: 70%;
	}

	table.details-table {
		font-size: 70%;
	}
	
	/*reduce size of the map result*/
	div.map-container {
		width: 90%;
	}

	#map {
		height: 300px;
	}

	/*reduce size of the store image*/
	div.user-image {
		width: 30%;
	}
	
	/*make the width smaller for the image to fit the cell*/
	#sample_image {
		width: 80%;
	}
}