html, body {
	height: 100%; /*get rid of the white space at the bottom*/
	background-color: #fff;
}

/*Use these fonts for all text*/
* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

/*logo image for the top left of the web page*/
.logo {
	margin: 0;
	width: 100%;
	float: left;
}

/*size of logo*/
#img_logo {
	height: 5em;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*base look for the navigation menu*/

.menu {
	float: left;  /*to maintain the menu position*/
	width: 100%;   /*cover the whole width for the menu*/
}

ul {
	list-style-type: none;  /*to get rid if the list style*/
	margin: 0;   /*get rid of the margin so the elements below and above are closer to the menu*/
	padding: 0;   /*get rid of the extra space from the left side of the menu*/
	overflow: hidden;
	background-color: #46301e;
}

/*keep the menu items to the left so they are in the same line*/
li {
	float: left;
}

li a {
	display: block; 
	color: white;
	text-align: center;  /*align the text for each list elements*/
	padding: 20px 30px;  /*padding for the text inside the list elements*/
	text-decoration: none; /*get rid of the underline*/
	font-size: 20px;
}


/*change color when mouse hover to the corresponding menu item*/
li a:hover {
	background-color: #111;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*content wrapper for the body part after the navigation bar*/
.body-content {
	background-image: url(../additional_files/registration_background.png);
	background-repeat: no-repeat;  /*This background image is only for the top part so I don't wnat it to repeat*/
	background-size: inherit; /*get the same size from the parent*/
	width: 100%; /*covers the whole width so the elements inside this div can be in the center*/
	height: auto; /*streches out when necessary*/
	background-color: #e6e6e6; 
	display: inline-block; /*elements stay inline not outside*/
}

/*wrapper box to contain the form*/
.container-box {
	color: #595959;
	background-color: #fff;  /*color goes well with the background image*/
	border: 1px solid #ccc;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;         /*this auto margin left and right will set to be at the center*/
	margin-right: auto;
	width: 320px;
	transition: all 300ms ease-out; /*additional transition for a smooth show up for the form*/
}

/*the form container for inputs, all input would have the same width with this padding*/
.auth-form {
	padding: 40px;
}

/*title for the form*/
.title-form {
	display: block;
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 1.6em;
	color: black;
	text-align: center;
}

/*give some space between inputs*/
.input-wrap {
	margin-bottom: 0.5em;
}

/*styling for the inputs*/
.rf-input {
	box-sizing: border-box;  /*include padding and border in the element's total width and height*/
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	vertical-align: middle;
	font-size: 0.9em;
	width: 100%;
}

/*hide the labels*/
.rf-label {
	font-size: 0.8em;
	vertical-align: top;
	text-align: center;
	color: #595959;
	opacity: 0;
}

/*show labels when the mouse hovers within the inputs*/
.rf-input:hover~.rf-label {
	transition: top .7s ease, opacity .7s ease; /*additional transition to show up the label smoothly*/
	opacity:1; /*show the label*/
}

/*style for the paragraph in the form*/
.register-legal {
	text-align: justify;
	font-size: 0.8em;
}

input {
	border: 1px solid lightgray;
}

/*change background color and add outline style when focusing on an input*/
input:focus {
	background-color: #e8f0fe;
	outline-color: black;
}

/*style the submit button*/
input[type="submit"] {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	width: 100%;
	height: 35px;
	background-color: #bf0000;
	color: white;
	border-radius: 5px;
}

/*change color when submit button is hovered*/
input[type="submit"]:hover {
	background: #7a003c;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*set the footer with the same color as the navigation*/
.footer {
	padding-top: 20px;
	bottom: 0;
	width: 100%;
	background-color: #46301e;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*change some style when showing in a smaller screen size*/
@media(max-width: 600px) {
	/*change logo size smaller*/
	#img_logo {
		height: 3em;
	}

	/*change font size for the navigation text*/
	ul a {
		font-size: 80%;
		text-align: center;
	}

	/*change padding to fit better in the smaller screen*/
	li a {
		padding: 20px 10px;
	}

	h1 {
		font-size: 100%;
	}

	p {
		font-size: 70%;
	}

	/*change width of the container for the form*/
	div.container-box {
		width: 90%;
	}
}