/*all css files have the same style for the navigation menu and logo styling*/
html, body {
	height: 100%; /*get rid of the white space at the bottom*/
}

/*Use these fonts for all text*/
* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}


/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*wrapper of the body content for the search elements*/
.body-content {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-image: url(../additional_files/search_background.jpg);
	background-position: center center;
	background-size: cover;
}

/*wrap around the search bar and the buttons*/
.container-box {
	margin-top: 15%;
	width: 100%;
}

/*the form*/
.search-form {
	text-align: center;
	overflow: hidden;
	display: block;
}

/*title for the form*/
.title {
	text-align: center;
	padding-top: 10px;
}

/*wrap the search bar and the ratings to be in the same line*/
.search-container {
	margin: auto;
	text-align: center;
	display: block;
}

/*style for the search bar*/
.searchbar {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 70%;  /*remain some space for the rating container*/
}

/*syle the rating container*/
.ratings-container {
	display: inline-block;
	margin-top: 10px; /* to align with the search bar*/
}

/*style for the rating*/
#ratings {
	border-radius: 5px;
	border-width: 2px;
	font-size: 15px;
	height: 48px;
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #f8dcbd; /*same border color as the search bar*/
	background-color: white;
	transition: all 300ms ease-out; /*add transition for smooth show up*/
	outline: none; /*get rid of outline*/
}

/*wrap around the button as a block*/
.submit-button {
	padding-top: 15px;
	display: block;
}

/*style for the search button*/
input[type="search"] {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	font-size: 0.9em;
	width: 100%;
	outline: none; /*get rid of outline*/
	border-style: solid;
	border-color: #f8dcbd;
	transition: all 300ms ease-out; /*same transition as the search bar and ratings*/
}

/*add shadow when hovers the search bar and ratings*/
#ratings:hover, input[type="search"]:hover {
	box-shadow: 2px 2px 2px 2px rgba(0.5, 0.5, 0, 0.5), 0 6px 20px 0 rgba(0, 0.5, 0.5, 0.5);
}

/*styleing the search button*/
input[type="submit"] {
	border-radius: 5px;
	background-color: #4caf50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	height: 50px;
	width: 100px;
}

/*change color when search button is hovered*/
input[type="submit"]:hover {
	background-color: #3e8e41;
}

/*wrap around the button as a block*/
.location {
	display: block;
	margin: auto;
	text-align: center;
	vertical-align: bottom;
}

/*styleing the location button*/
.location-button {
	border-radius: 5px;
	background-color: #4caf50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	height: 50px;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.9em;
	color: white;
	margin-top: 10px;
}

/*change color when search button is hovered*/
.location-button:hover {
	background-color: #3e8e41;
}

.field-validation-error {
	color: red;
	margin-top: 5px;
	font-size: 13px;
	display: none;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*change some style when showing in a smaller screen size*/
@media(max-width: 600px) {
	/*change logo size smaller*/
	#img_logo {
		height: 3em;
	}

	/*change font size for the navigation text*/
	ul a {
		font-size: 80%;
		text-align: center;
	}

	/*change padding to fit better in the smaller screen*/
	li a {
		padding: 20px 10px;
	}
}