html, body {
	height: 100%; /*get rid of the white space at the bottom*/
	background-color: #fff;
}

/*Use these fonts for all text*/
* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*the structure of the search part similar to the index.html*/
.body-content {
	height: 90%;
	width: 100%;
	overflow: auto;
	background-image: url(../additional_files/results_background.jpg);
	background-position: center center;
	background-size: cover;
	padding-bottom: 0;
}

.container-box {
	text-align: center;
	overflow: hidden;
	display: block;
}

.title {
	text-align: center;
	padding-top: 10px;
}

/*wrap around the search bar, ratings and search button*/
.search-container {
	margin: auto;
	text-align: center;
	display: block;
	padding-bottom: 15px;
	padding-top: 10px;
	top: 10px;
}

.searchbar {
	text-align: right;
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 70%;
}

.ratings-container {
	display: inline-block;
	transition: all 200ms ease-out;
	text-align: center;
	margin-top: 10px;
}

/*style for the rating*/
#ratings {
	border-radius: 5px;
	border-width: 2px;
	font-size: 15px;
	height: 48px;
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #f8dcbd; /*same border color as the search bar*/
	background-color: white;
	transition: all 300ms ease-out; /*add transition for smooth show up*/
	outline: none; /*get rid of outline*/
}

/*not a block anymore compare to index.html, ratings and search will fit in the same line when the screen size is smaller*/
.submit-button {
	margin: auto;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}


input[type="search"] {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	font-size: 0.9em;
	width: 100%;
	outline: none;
	border-style: solid;
	border-color: #F8DCBD;
}

#ratings:hover, input[type="search"]:hover {
	box-shadow: 2px 2px 2px 2px rgba(0.5, 0.5, 0, 0.5), 0 6px 10px 0 rgba(0, 0.5, 0.5, 0.5);
}

input[type="submit"] {
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	height: 48px;
	width: 100px;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
/*above are sinilar to index.html, the search page*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*wrap around map and the table results*/
.results-container {
	height: 100%;
	text-align: center;
}

/*wrap the border of the map and title and the map*/
.map-container {
	background-color: lightgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*add shadow for the map*/
	margin-bottom: 25px;  /*add space between map and the table*/
	margin-left: auto;   /*center the map with the fixed width*/
	margin-right: auto;
	width: 40%;
}

.map-border {
	text-align: center;
	padding: 5px 5px;
}

/*set the size of the map*/
#map {
	height: 350px;
	width: 100%;
}

/*wrap around the table to be styled easier*/
.results-content {
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	float: left;
}

/*set result table size*/
table {
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
}

/*set the border style for the table*/
th, td {
	border: solid 1px lightgray;
}

th.table-row.contact, th.table-row.ratings {
	width: 20%;
}

/*set color the first row of the table*/
tr.table-row {
	background-color: #46301e;
	color: white;
}

/*some shadow for hovering the rows*/
tr:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*set the elements in the first column style*/
.store-container {
	display: inline-block;
	text-align: left;
	width: 100%;
	vertical-align: middle;
}

/*the container for the image to wrpa around the store image*/
.store-image {
	display: inline-block;
	float: left;
	width: 20%;
}

/*set the size of the store image*/
.store-image img {
	width: 100%;
}

/*set the store name for the column*/
.store-name {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	padding-right: 1%;
}

/*hide the extra text*/
.more {
	display: none;
}

/*set style for the store name header*/
h1 {
	margin: 2% 0 2% 0;
	font-size: 25px;
}

/*get rid of the link style*/
h1 a {
	text-decoration: none;
	color: black;
}

/*add link style when hovered*/
h1 a:hover {
	text-decoration: underline;
	color: gray;
}

/*store description*/
p {
	margin: 0;
}

/*paging style*/
p.page {
	background-color: lightgray;
	display: block;
}

h3 {
	margin: 0;
}

.location {
	margin: auto;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}

/*styleing the location button*/
.location-button {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	font-size: 0.9em;
	width: 100%;
	outline: none;
	border-style: none;
	background-color: #4CAF50;
	color: white;
	margin-top: 10px;
}

/*change color when search button is hovered*/
.location-button:hover {
	background-color: #3e8e41;
}

.field-validation-error {
	color: red;
	margin-top: 5px;
	font-size: 13px;
	display: none;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*change some style when showing in a smaller screen size*/
@media(max-width: 600px) {
	#img_logo {
		height: 3em;
	}

	ul a {
		font-size: 80%;
		width: 100%;
		text-align: center;
	}

	li a {
		padding: 20px 10px;
	}

	/*set the size of the store name*/
	h1, h3 {
		font-size: 100%;
	}

	/*make the font smaller*/
	p {
		font-size: 70%;
	}

	/*reduce size of the map result*/
	div.map-container {
		width: 90%;
	}
	
	#map {
		height: 300px;
	}

	/*reduce size of the store image*/
	div.store-image {
		width: 30%;
	}

	/*make the search bar longer*/
	div.searchbar {
		width: 95%;
	}
}