html, body {
	height: 100%; /*get rid of the white space at the bottom*/
	background-color: #fff;
}

/*Use these fonts for all text*/
* {
	font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*This is based on the registrationPage.css structure, pretty much the same*/
.body-content {
	background-image: url(../additional_files/registration_background.png);
	background-repeat: no-repeat;
	background-size: inherit;
	width: 100%;
	height: auto;
	background-color: #e6e6e6; 
	display: inline-block;
}

/*a bigger width compared to registration form*/
.container-box {
	color: #595959;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	transition: all 300ms ease-out;
}

.auth-form {
	padding: 40px;
}

.title-form {
	display: block;
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 1.6em;
	color: black;
	text-align: center;
}

.input-wrap {
	margin-bottom: 1em;
}

/*same input style as registrationPage.css*/
.rf-input {
	box-sizing: border-box;
	font-family: Georgia,Times,times,serif;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 48px;
	vertical-align: middle;
	font-size: 0.9em;
	width: 100%;
}

/*label for each input*/
.rf-label {
	display: inline-block;
	width: 100%;
	margin-bottom: 0.3em;
}

/*bigger height for description*/
.rf-input.description {
	height: 170px;
}

/*make the text style similar to other input*/
textarea {
	padding-top: 15px;
	padding-bottom: 15px;
}

/*wrapper for the twoo inputs for coordinates*/
.coordinates-container {
	text-align: justify;
	display: block;
}

.button-container {
	width: 100%;
	margin-top: 10px;

}

/*set the two inputs for coordinates stay in one line and both have the same width*/
.rf-input.longitude, .rf-input.latitude {
	width: 49%;
}

/*set the right input of the coordinates to the end making the input balance in the form*/
.rf-input.latitude {
	float: right;
}

.register-legal {
	text-align: justify;
	font-size: 0.8em;
}

input:not([type="button"]), textarea {
	border: 1px solid lightgray;
}

/*change background color and add outline style when focusing on an input or textarea*/
input:not([type="button"]):focus, textarea:focus {
	background-color: #e8f0fe;
	outline-color: black;
}

/*style the submit button*/
input[type="submit"] {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	width: 100%;
	height: 35px;
	background-color: #bf0000;
	color: white;
	border-radius: 5px;
}

.field-validation-error {
	color: red;
	font-size: 13px;
	display: none;
}

/*change background color and add outline style when focusing on an input*/
input[type="submit"]:hover {
	background: #7a003c;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*change some style when showing in a smaller screen size*/
@media(max-width: 600px) {
	/*change logo size smaller*/
	#img_logo {
		height: 3em;
	}

	/*change font size for the navigation text*/
	ul a {
		font-size: 80%;
		text-align: center;
	}

	/*change padding to fit better in the smaller screen*/
	li a {
		padding: 20px 10px;
	}

	h1 {
		font-size: 100%;
	}

	p {
		font-size: 70%;
	}

	/*change width of the container for the form*/
	div.container-box {
		width: 90%;
	}
}